body {
  margin: 0 auto;
}

#contactTitle {
  text-align: center;
  position: relative;
  top: 40px;;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#contactTitle span {
  color: #333;
  text-transform: uppercase;
  display: block;
  font-size: 60px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  position: relative;
  animation: text 2s 1;
}

@keyframes text {
  0%{
    color: #333;
  }
  30% {
    letter-spacing: 20px;
  }
  85%{
    letter-spacing: 5px;
  }
}

form {
  position: relative;
  width; 400px;
  height: auto;
  left: 25%;
  resize: vertical;
}

.btnSubmit {
  position: relative;
  left: 400px;
  height: 35px;
  width: 200px;
  padding: 3px;
  font-size: 1.5em;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: lightgray;
  cursor: pointer;
  box-shadow: 5px 5px gray;
}

.btnSubmit:hover,
.btnSubmit:focus {
  outline: none;
  background: #555;;
  color: #FFF
}

input[type=text] {
  position: relative;
  left: 15px;
  width: 50%;
  padding: 10px;
  margin: 13px 0;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 10px;
}

.container {
  margin-bottom: 10px;

}

#statement {
  height: 60px;
}

.contactInfo {
  position: relative;
  left: 10px;
  top: 4
}

.contactInfo a {
  color: black;
  text-decoration: none;
}

.contactInfo a:hover {
  text-decoration: underline;
}

.container > label {
  font-size: 1.5em;
  border: solid 1px gray;
  border-radius: 5px;
  background-color: lightgray;
  padding: 3px;
  box-shadow: 5px 5px gray;
}

.warn {
  position: relative;
  margin-top: 30px;
  left: 200px;
  height: 50px;
  width: 575px;
  border: dotted 3px;
  border-radius: 15px;
  text-align: center;
  animation:blink 2.5s infinite;
}

.warn p {
  color: black;
  font-size: 1.1em;
  padding-top: 13px;
}

@keyframes blink {
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

/*active color of label for selected input*/

.active {
  color: #606060;
}
