body {
  margin: 0 auto;
}
#sideNav .navBtn {
    position: absolute;
    top: 30px;
    left: 330px;
    z-index: 2000;
    cursor: pointer;

}

#contactTitle {
  position: relative;
  font-size: 3.4em;
  top: 40px;
  bottom: 30px;
  text-align: center;
  margin-bottom: 70px;
  z-index: -1;
}

form {
  position: relative;
  width; 400px;
  height: auto;
  left: 25%;
  resize: vertical;
}

.btnSubmit {
  position: relative;
  left: 400px;
  height: 35px;
  width: 200px;
  padding: 3px;
  font-size: 1.5em;
  border: 1px solid #333;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  box-shadow: 5px 5px gray;
}

.btnSubmit:hover,
.btnSubmit:focus {
  outline: none;
  background: #555;;
  color: #FFF;
}

input[type=text] {
  position: relative;
  left: 15px;
  width: 50%;
  padding: 10px;
  margin: 13px 0;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 10px;
  resize: vertical;
}

.container {
  margin-bottom: 10px;

}

#statement {
  height: 60px;
}

.contactInfo {
  position: relative;
  left: 10px;
  top: 4
}

.contactInfo a {
  color: black;
  text-decoration: none;
}

.contactInfo a:hover {
  text-decoration: underline;
}

.container > label {
  font-size: 1.5em;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 5px 5px gray;
}

.warn {
  position: relative;
  margin-top: 30px;
  left: 200px;
  height: 50px;
  width: 575px;
  border: dotted 3px;
  border-radius: 15px;
  text-align: center;
  animation:blink 2.5s infinite;
}

.warn p {
  color: black;
  font-size: 1.1em;
  padding-top: 13px;
}

@keyframes blink {
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
