body {
	background-color: #f5f5f0;
	color: black;
}


.split {
    background: #f5f5f0;
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

@media only screen and (max-width: 620px) {
	.left {
		position: absolute;
		top: -8px;
		width: 100%;
		height: 100%;
		text-align: center;
		padding: 0%;
	}
}

@media only screen and (max-width: 620px) {
	.right {
		display: none;
	}
}

.left {
	left: 0;
	font-weight: 300;
}

.right {
	right: 0;
	font-family: "Courier New", Courier, monospace;
}

.words {
	position: relative;
	font-size: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: left;
	padding: 15px;
}

.content {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: left;
	padding: 25px;
}

.content img {
	width: 120%;
}

#gridBtn {
	position: absolute;   
	background: #f5f5f0;
	font-size: 35px;
	border: none;
	outline: none;
}

#gridBtn:hover {
	opacity: 70%;
}
#gridBtn:active {
	color: transparent;
}

.glyphicon {
	background-color: transparent;
}
