* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f0;
}

.flyInText {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.flyInText li {
    display: inline-block;
    margin-right: 50px;
    font-family: serif;
    font-weight: 300;
    font-size: 4em;
    color: #000;

    opacity: 1;
    transition: all 2.5s ease;
}

.flyInText li:last-child {
    margin-right: 0;
}

.flyInText.hidden li {
    /*opacity: 0;*/
}

.flyInText.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.flyInText.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.flyInText.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.flyInText.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.flyInText.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.flyInText.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.flyInText.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }
.flyInText.hidden li:nth-child(8) { transform: translateX(-30px) translateY(-150px); }
.flyInText.hidden li:nth-child(9) { transform: translateX(100px) translateY(-90px); }
.flyInText.hidden li:nth-child(10) { transform: translateX(-40px) translateY(50px); }
.flyInText.hidden li:nth-child(11) { transform: translateX(-200px) translateY(50px); }
.flyInText.hidden li:nth-child(12) { transform: translateX(-100px) translateY(-200px); }
.flyInText.hidden li:nth-child(13) { transform: translateX(-200px) translateY(120px); }
